# Server Binding & Port
HOSTNAME=0.0.0.0
PORT=3005

# Konfigurasi Database Oracle SISMIOP PBB
DB_USER=PBB
DB_PASSWORD=PBB
DB_HOST=103.167.12.59
DB_PORT=1521
DB_SID=SISMIOP

# Standar Keamanan & Autentikasi SPLP
SPLP_AUTH_ENABLED=true
SPLP_AUTH_MODE=multi

# 1. API Key
SPLP_API_KEY=bpn-sismiop-pbb-secret-2026

# 2. OAuth2 / Client Credentials (POST /api/v1/auth/token)
SPLP_CLIENT_ID=bpn_splp_client
SPLP_CLIENT_SECRET=bpn_splp_secret_key_2026
SPLP_JWT_SECRET=super-secret-jwt-key-for-splp-sismiop-2026
SPLP_TOKEN_EXPIRY=3600

# 3. SPLP HMAC Signature Secret
SPLP_SIGNATURE_SECRET=bpn_splp_secret_key_2026
